<%- include ("../layouts/cabecera.ejs") %> 
<br/>
<br/>
<form method="post" action="../actualizar/">
    <input type="text" name="id" value="<%=producto.id_producto%>">
    <div class="form-group">
        <label for="my-input">Referencia:</label>
        <input id="my-input" value="<%=producto.referencia %>" class="form-control" type="text" name="referencia">
    </div>

    <div class="form-group">
        <label for="my-input">Precio:</label>
        <input id="my-input" value="<%=producto.precio %>" class="form-control" type="text" name="precio">
    </div>

    <div class="form-group">
        <label for="my-input">Descripcion:</label>
        <input id="my-input" value="<%=producto.descripcion%>" class="form-control" type="text" name="descripcion">
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<%- include ("../layouts/pie.ejs") %> 