<%- include ("../layouts/cabecera.ejs") %> 
<br/>
<br/>
<form method="post" action="../actualizar/">
    <input type="text" name="id" value="<%=cliente.id_cliente%>">
    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" value="<%=cliente.nombre %>" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="my-input">Dirección:</label>
        <input id="my-input" value="<%=cliente.direccion %>" class="form-control" type="text" name="direccion">
    </div>

    <div class="form-group">
        <label for="my-input">Cédula:</label>
        <input id="my-input" value="<%=cliente.cedula%>" class="form-control" type="text" name="cedula">
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<%- include ("../layouts/pie.ejs") %> 