<%- include ("../layouts/cabecera.ejs") %>  
        <br/>
        <br/>
        <a href="/clientes/crear" class="btn btn-primary" type="button">Crear cliente</a>
        </br>
    </br>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Cédula</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for( let cliente = 0; cliente < clientes.length; cliente++ ) { %>
                    <tr>
                        <td> <%=clientes[cliente].nombre %> </td>
                        <td> <%=clientes[cliente].direccion %> </td>
                        <td> <%=clientes[cliente].cedula %> </td>
                        <td> <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form  class="form-inline" method="get" action="/clientes/editar/<%=clientes[cliente].id_cliente%>">
                                <button type="submit" class="bbutton bi-pencil-square"></button>
                            </form>
                        </div> | 
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/clientes/eliminar/<%=clientes[cliente].id_cliente %>">
                                    <button class="bbutton bi-trash3"></button>
                                </form>
                            </div>
                             </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <%- include ("../layouts/pie.ejs") %> 